# Python cache
**/__pycache__/
__pycache__/
config/__pycache__/
information_app/__pycache__/
information_app/__pycache__//migrations/__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd
.coverage

# Virtual environments
venv/
venv-SysLab/

# Django
db.sqlite3

# VSCode
.vscode/

# JetBrains
.idea/

# Environment variables
.env
